/**
 * These classes have lower specificity so we can override them
 * with utility classes 
 */

:root {
  --brand-color: theme("colors.brand.pink");
  --brand-color-light: theme("colors.brand['pink-light']");
  --shadow-color: theme("colors.brand['pink-shadow']");
}

[data-theme="ladies"] {
  --brand-color: theme("colors.brand.pink");
  --brand-color-light: theme("colors.brand['pink-light']");
  --shadow-color: theme("colors.brand['pink-shadow']");
}

[data-theme="mens"] {
  --brand-color: theme("colors.brand.blue");
  --brand-color-light: theme("colors.brand['blue-light']");
  --shadow-color: theme("colors.brand['blue-shadow']");
}

.h2 {
  @apply text-2xl font-bold leading-none uppercase;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @apply overflow-hidden;
}
